.slide{
width: 70%; 
height: 450px;
margin: 0 auto; 
margin-top: 100px;
align-items: center;
background-image: url(dsa.png);
animation: mymove 10s 1 forwards; 
background-repeat: no-repeat;
  }
  
@keyframes mymove {
    0%   {background-image:url(tree);}
    25%  { background-image: url(stack.png);}
    50%  {background-image: url(hash);}
    75%  {background-image: url(dsa.png);}
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3c6487 ;
    color: #d086bb;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3em;
    font-family: monospace;
}

nav {
    display: flex;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color:#c38eb4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
}

.heading {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #1a2a74;
}

td{
    padding-left: 20px;
    padding-right: 20px;
}

    .card {
  width: 250px;
  height: 350px;
  background-color:#52799b;
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 0.5s ease-in-out;
  
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
    position: relative;
    padding: 1em 1.5em;
    color: #26425a;
    font-size: 1.15rem;
    border-radius: 100vmax;
    background-color: #86a8cf;
    border: 2px solid #26425a;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: #3c6487;
    color: #d086bb;
    padding: 20px;
}

.back {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    color: #d086bb;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: monospace;
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    line-height: 1.5;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h4{
    font-size: larger;
    color: #d086bb;
    text-align: center;
}

table{
    align-items: center;
}
